*{
    box-sizing: border-box;
}
/* #resultBody{
    background-color: rgb(75, 57, 109);
    width: 1535px;
    height: 745px;
} */

#resultBody{
    border: 5px solid rgb(13, 189, 69);
    background-color: lightgreen;
    height: 75vh;
}
.flex{
    display: flex;
    justify-content:space-between;
    gap: 0rem;
}
.result{
    padding: 20px 30px 20px 30px;
    width: 600px;
    height: 350px;
    border-radius: 5px;
    background-color: white;
    margin-left: 470px;
    /* border: 2px solid greenyellow; */
    position: relative;
    right: 158px;


}
.details{
    text-align: left;
    color: black;
}
h5{
    color: black;
}
h3{
    color: black;
}
h1{
    color: blue;
}
button{
    font-size: medium;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.play{
  border-color: rgb(255, 255, 255);
  color: rgb(52, 18, 175);
  margin-right: 30px;
}
#but{
    color: aqua;
}

.home{
  border-color: rgb(255, 255, 255);
  color: aqua;
  margin-left: 30px;
}

p{
    margin-top: 0px;
    color: darkgreen;
    font-weight: bolder;
    font-size: xx-large;
}